<h1 mat-dialog-title>Información del Cliente a crear</h1>

<form class="example-form">
  <mat-form-field class="columns-1">
    <mat-label>Tipo de Documento</mat-label>
    <input matInput type="string" placeholder="escoja el tipo de documento">
  </mat-form-field>
  <mat-form-field class="columns-2">
    <mat-label>Número de Documento</mat-label>
    <input matInput type="number" placeholder="ingrese num. documento" min="0" >
  </mat-form-field>
  <br/>
  <mat-form-field class="columns-1">
    <mat-label>Primer Nombre</mat-label>
    <input matInput type="string" placeholder="ingrese primer nombre">
  </mat-form-field>
  <mat-form-field class="columns-2">
    <mat-label>Segundo Nombre</mat-label>
    <input matInput type="string" placeholder="ingrese segundo nombre">
  </mat-form-field>
  <br/>
  <mat-form-field class="columns-1">
    <mat-label>Primer Apellido</mat-label>
    <input matInput type="string" placeholder="ingrese primer apellido">
  </mat-form-field>
  <mat-form-field class="columns-2">
    <mat-label>Segundo Apellido</mat-label>
    <input matInput type="string" placeholder="ingrese segundo apellido">
  </mat-form-field>
  <br/>
  <mat-form-field class="columns-1">
    <mat-label>Número de Celular</mat-label>
    <input matInput type="number" placeholder="3000000000">
  </mat-form-field>
  <mat-form-field class="columns-2">
    <mat-label>Correo</mat-label>
    <input matInput type="string" placeholder="ejemplo@segurosbolivar.com">
  </mat-form-field>
  <br/>
  <br/>
  <mat-form-field class="columns-1">
    <mat-label>Dirección</mat-label>
    <input matInput type="string" placeholder="calle 1 125-200">
  </mat-form-field>
</form>
