<div class="toolbar" role="banner">
  <span>BancoGB</span>
    <div class="spacer"></div>
    <nav class="navbar-menu">
      <button mat-button [matMenuTriggerFor]="aboveMenu">Administración</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button routerLink="/admin-clientes" routerLinkActive="active" mat-menu-item>Clientes</button>
        <button routerLink="/admin-cuentas" routerLinkActive="active" mat-menu-item>Cuentas</button>
        <button routerLink="/admin-tipo-cuentas" routerLinkActive="active" mat-menu-item>Tipos de Cuentas</button>
        <button routerLink="/admin-transacciones" routerLinkActive="active" mat-menu-item>Transacciones</button>
      </mat-menu>
    </nav>
    <p class="username">
      {{usuario}}
    </p>
</div>

